body{
    background-color: brown;
    display: flex;
    justify-content: center;
}

.userCardContainer{
    width: 370px;
    background-color:beige;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    font-family: 'Permanent Marker', sans-serif;

}
.userCardHeader{
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;


}
.userInfoContainer{

}

.userInfoContainer > *{
    margin: 0 auto;
}
.profilePicture{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: auto;
}
.iconContainerNew {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;

}
.userInfoContainer > h2{
    text-align: center;
    margin-top: 10px;
    color: blue;
    padding: inherit;
}
.userInfoContainer > h3{
    text-align: center;
    margin-top: 5px;
    color: rebeccapurple;
    padding: inherit;
}
.userInfoContainer > h5{
    text-align: center;
    margin-top: 5px;
    color: darkred;
    padding: inherit;
}
.iconContainer{
    text-align: center;
    display: inline-block;
}

.verticalAling{
    display: inline-block;
    height: 100px;
    vertical-align: middle;
}

.userPicture{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 20px;
}

.horizontlAling + .horizontlAling{

}